In [1]:
import pandas as pd
import numpy as np

### DATA VIEWING ###

In [22]:
df= pd.read_excel("Use case 2 - customer churn data.xlsx")
df.head(10)

,customerID,gender,SeniorCitizen,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,numAdminTickets,numTechTickets,Churn,Location
0,7590-VHVEG,Female,0,No,1,No,No phone service,DSL,No,Yes,...,No,Month-to-month,Yes,Electronic check,29.85,29.85,0.0,0,No,North - New York
1,5575-GNVDE,NaN,0,No,34,Yes,No,DSL,Yes,No,...,No,One year,No,Mailed check,56.95,1889.5,0.0,0,No,West - California
2,3668-QPYBK,Male,0,No,2,Yes,No,DSL,Yes,Yes,...,No,Month-to-month,Yes,Mailed check,53.85,108.15,0.0,0,Yes,East - Illinois
3,7795-CFOCW,Male,0,No,45,No,No phone service,DSL,Yes,No,...,No,One year,No,Bank transfer (automatic),42.30,1840.75,0.0,3,No,West - Illinois
4,9237-HQITU,Female,0,No,2,Yes,No,Fiber optic,No,No,...,No,Month-to-month,Yes,Electronic check,70.70,151.65,0.0,0,Yes,East - Illinois
5,9305-CDSKC,Female,0,No,8,Yes,Yes,Fiber optic,No,No,...,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,0.0,0,Yes,South - California
6,1452-KIOVK,Male,0,Yes,22,Yes,Yes,Fiber optic,No,Yes,...,NaN,Month-to-month,Yes,Credit card (automatic),89.10,1949.4,0.0,0,No,North - New York
7,6713-OKOMC,Female,0,No,10,No,No phone service,DSL,Yes,No,...,No,Month-to-month,No,Mailed check,29.75,301.9,0.0,0,No,East - Texas
8,7892-POOKP,Female,0,No,28,Yes,Yes,Fiber optic,No,No,...,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,0.0,2,Yes,North - Ohio
9,6388-TABGU,Male,0,Yes,62,Yes,No,DSL,Yes,Yes,...,No,One year,No,Bank transfer (automatic),56.15,3487.95,0.0,0,No,North - Florida

In [23]:
df1= df.copy()

In [24]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            6647 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       6616 non-null   object
 13  StreamingMovies   6537 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   object
 19  numAdminTickets   6451 non-null   float64
 20  numTechTickets    7043 non-null   int64
 21  Churn             7043 non-null   object
 22  Location          7043 non-null   object
dtypes: float64(2), int64(3), object(18)
memory usage: 1.2+ MB

In [25]:
print(df1.shape)

(7043, 23)

 ***No.of.Column : 23 and No.of.Rows : 7043***

In [29]:
df1.isnull()      # just show where are null in large dataset will be confusing

,customerID,gender,SeniorCitizen,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,numAdminTickets,numTechTickets,Churn,Location
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7039,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7040,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7041,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7042,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
df1.isnull().sum()              # shows in which columns how much null values are there

customerID            0
gender              396
SeniorCitizen         0
Dependents            0
tenure                0
PhoneService          0
MultipleLines         0
InternetService       0
OnlineSecurity        0
OnlineBackup          0
DeviceProtection      0
TechSupport           0
StreamingTV         427
StreamingMovies     506
Contract              0
PaperlessBilling      0
PaymentMethod         0
MonthlyCharges        0
TotalCharges          0
numAdminTickets     592
numTechTickets        0
Churn                 0
Location              0
dtype: int64

***Data Cleaning***

In [30]:
df[df.SeniorCitizen== 1]

,customerID,gender,SeniorCitizen,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,numAdminTickets,numTechTickets,Churn,Location
20,8779-QRDMV,Male,1,No,1,No,No phone service,DSL,No,No,...,Yes,Month-to-month,Yes,Electronic check,39.65,39.65,0.0,0,Yes,East - Florida
30,3841-NFECX,NaN,1,No,71,Yes,Yes,Fiber optic,Yes,Yes,...,No,Two year,Yes,Credit card (automatic),96.35,6766.95,0.0,0,No,South - Illinois
31,4929-XIHVW,NaN,1,No,2,Yes,No,Fiber optic,No,No,...,Yes,Month-to-month,Yes,Credit card (automatic),95.50,181.65,NaN,0,No,East - New York
34,3413-BMNZE,Male,1,No,1,Yes,No,DSL,No,No,...,No,Month-to-month,No,Bank transfer (automatic),45.25,45.25,0.0,0,No,South - Ohio
50,8012-SOUDQ,Female,1,No,43,Yes,Yes,Fiber optic,No,Yes,...,No,Month-to-month,Yes,Electronic check,90.25,3838.75,0.0,0,No,South - New York
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7023,1035-IPQPU,Female,1,No,63,Yes,Yes,Fiber optic,No,Yes,...,Yes,Month-to-month,Yes,Electronic check,103.50,6479.4,NaN,0,No,South - Texas
7029,2235-DWLJU,Female,1,No,6,No,No phone service,DSL,No,No,...,Yes,Month-to-month,Yes,Electronic check,44.40,263.05,0.0,0,No,East - California
7031,3605-JISKB,Male,1,No,55,Yes,Yes,DSL,Yes,Yes,...,No,One year,No,Credit card (automatic),60.00,3316.1,0.0,0,No,West - New York
7032,6894-LFHLY,Male,1,No,1,Yes,Yes,Fiber optic,No,No,...,No,Month-to-month,Yes,Electronic check,75.75,75.75,0.0,0,Yes,South - New York
7041,8361-LTMKD,Male,1,No,4,Yes,Yes,Fiber optic,No,No,...,No,Month-to-month,Yes,Mailed check,74.40,306.6,0.0,0,Yes,South - California

In [32]:
df['gender'].unique

<bound method Series.unique of 0       Female
1          NaN
2         Male
3         Male
4       Female
         ...
7038      Male
7039    Female
7040    Female
7041      Male
7042      Male
Name: gender, Length: 7043, dtype: object>